<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row gy-4">
      <!-- About -->
      <div class="col-lg-2 col-md-6 col-12">
        <div class="footer-about">
          <div class="footer-about-logo mb-4">
            <a href="/"
              ><img src="/client/images/logo.png" alt="Logo" width="100%" class="p-3 bg-white"
            /></a>
          </div>
          <h4 class="title-font footer-about-title">Giới thiệu</h4>
          <ul class="footer-about-list ps-0">
            <li class="footer-about-item">
              <a href="/about" class="content-font footer-about-link">Về chúng tôi</a>
            </li>
            <li class="footer-about-item">
              <a href="/about" class="content-font footer-about-link">Câu chuyện thương hiệu</a>
            </li>
            <li class="footer-about-item">
              <a href="/about" class="content-font footer-about-link">Dịch vụ</a>
            </li>
            <li class="footer-about-item">
              <a href="/about" class="content-font footer-about-link">Liên hệ & Giúp đỡ</a>
            </li>
          </ul>
        </div>
        <div class="footer-partner">
          <h4 class="title-font footer-partner-title">Đối tác hợp tác</h4>
          <ul class="footer-partner-list d-flex align-items-center gap-3 ps-0">
            <li class="footer-partner-item">
              <a
                href="<%= generalWebsite ? generalWebsite.tiktok : '#' %>"
                target="_blank"
                class="icon-font footer-partner-link"
                ><i class="bi bi-tiktok"></i
              ></a>
            </li>
            <li class="footer-partner-item">
              <a
                href="<%= generalWebsite ? generalWebsite.youtube : '#' %>"
                target="_blank"
                class="icon-font footer-partner-link"
                ><i class="bi bi-youtube"></i
              ></a>
            </li>
            <li class="footer-partner-item">
              <a
                href="<%= generalWebsite ? generalWebsite.instagram : '#' %>"
                target="_blank"
                class="icon-font footer-partner-link"
                ><i class="bi bi-instagram"></i
              ></a>
            </li>
            <li class="footer-partner-item">
              <a
                href="<%= generalWebsite ? generalWebsite.pinterest : '#' %>"
                target="_blank"
                class="icon-font footer-partner-link"
                ><i class="bi bi-pinterest"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End About -->

      <!-- Description & Verified -->
      <div class="col-lg-4 col-md-6 col-12">
        <p class="content-font footer-description text-justify">
          <%= generalWebsite ? generalWebsite.shortIntro : '' %>
        </p>
        <img
          src="/client/images/verified.png"
          alt="verified logo"
          class="footer-verified mt-2"
          width="50%"
        />
      </div>
      <!-- End Description & Verified -->

      <!-- Location -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="footer-location">
          <h4 class="title-font footer-location-title">Địa chỉ các cơ sở</h4>
          <ul class="content-font footer-location-list ps-0">
            <% if(generalWebsite) { %> <% if (generalWebsite.address.length > 0) { %> <%
            generalWebsite.address.forEach((item) => { %>
            <li class="footer-location-item">- <%= item %></li>
            <% }) %> <% } %> <% } %>
          </ul>
        </div>
      </div>
      <!-- End Location -->

      <!-- Policy -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="footer-policy">
          <h4 class="title-font footer-policy-title">Chính sách & Điều khoản</h4>
          <ul class="footer-policy-list ps-0">
            <li class="footer-policy-item">
              <a href="/about" class="content-font footer-policy-link">Chính sách bảo mật</a>
            </li>
            <li class="footer-policy-item">
              <a href="/about" class="content-font footer-policy-link">Chính sách đổi trả</a>
            </li>
            <li class="footer-policy-item">
              <a href="/about" class="content-font footer-policy-link">Chính sách vận chuyển</a>
            </li>
            <li class="footer-policy-item">
              <a href="/about" class="content-font footer-policy-link">Điều khoản sử dụng</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Policy -->
    </div>

    <div class="row">
      <div class="col-12">
        <hr />
        <div class="footer-bottom d-flex justify-content-between align-items-center row-gap-3">
          <div class="copyright">
            <span class="content-font copyright-name"
              >© Bản quyền bởi <%= generalWebsite ? generalWebsite.copyright : '' %></span
            >
          </div>
          <div class="footer-payment">
            <h4 class="title-font footer-payment-title">Phương thức thanh toán</h4>
            <ul class="payment-method-list d-flex gap-2 ps-0">
              <li class="payment-method-item">
                <div class="payment-method-box">
                  <img src="/client/images/payment/VISA-payment.png" alt="VISA" />
                </div>
              </li>
              <li class="payment-method-item">
                <div class="payment-method-box">
                  <img src="/client/images/payment/VNPAY-payment.png" alt="VNPAY" />
                </div>
              </li>
              <li class="payment-method-item">
                <div class="payment-method-box">
                  <img src="/client/images/payment/ZALO-payment.jpg" alt="ZALO" />
                </div>
              </li>
              <li class="payment-method-item">
                <div class="payment-method-box">
                  <img src="/client/images/payment/MOMO-payment.jpg" alt="MOMO" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
