<!-- Top Header -->
<div class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="top-header-box">
          <span class="top-header-email">Email: danh13320031@gmail.com</span>
          <span class="top-header-webcome">Chào mừng bạn đến với shop mỹ phẩm của chúng tôi!</span>
          <span class="top-header-phone">Phone: 0839 537 617</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Top Header -->

<!-- Header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-12 header-logo mt-2">
        <a href="/" class="header-logo-link"
          ><img
            src="/client/images/Benefit_Cosmetics_logo.png"
            alt="logo"
            width="130px"
            class="header-logo-img"
        /></a>
      </div>

      <div class="col-lg-6 col-12 header-search">
        <form method="GET" action="/products" id="form-search" class="header-search-box mt-2">
          <input
            type="text"
            name="keyword"
            placeholder="Nhập từ khóa..."
            class="header-search-inp"
          />
          <button type="submit" class="header-search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      <div class="col-lg-4 col-12 header-others">
        <div class="header-others-box mt-2">
          <div class="header-others-cart">
            <i class="bi bi-bag-check-fill"></i>
            <% if(miniCart) { %>
            <div class="header-others-cart-number"><%= miniCart.totalQuantityProduct %></div>
            <% } %>
            <div class="p-2 d-flex flex-column gap-1 header-others-cart-box">
              <h4
                title="Hiện có <%= miniCart ? miniCart.totalQuantityOrder : 0  %> đơn hàng và <%= miniCart ? miniCart.totalQuantityProduct : 0  %> sản phẩm trong giỏ hàng"
                class="title-font my-2 text-capitalize text-center header-others-cart-title"
              >
                Giỏ hàng
                <i class="bi bi-bag-check-fill"></i>
                (<%= miniCart ? miniCart.totalQuantityOrder : 0 %>)
              </h4>
              <% if(miniCart.productListCart.length <= 0) { %>
              <div class="my-2 text-center header-others-cart-empty">
                Ko có đơn hàng nào trong giỏ hàng.
                <a href="/products">Mua ngay</a>
              </div>
              <% } else { %>
              <ul class="ps-0 overflow-y-scroll d-flex flex-column gap-2 header-others-cart-list">
                <% miniCart.productListCart.forEach((product) => { %>
                <li
                  class="d-flex gap-1 border border-bottom-1 border-top-0 border-end-0 border-start-0 p-1 header-others-cart-item"
                >
                  <div class="d-flex align-items-center cart-item-button">
                    <i class="p-2 bg-light rounded-5 fa-solid fa-xmark"></i>
                  </div>
                  <div class="cart-item-img">
                    <a href="/products/detail/<%= product.slug %>"
                      ><img src="<%= product.thumbnail %>" alt="" width="60px"
                    /></a>
                  </div>
                  <div class="px-1 w-100 cart-item-info">
                    <a
                      href="/products/detail/<%= product.slug %>"
                      class="content-font fw-bold d-flex justify-content-between text-decoration-none text-dark cart-item-info-title"
                    >
                      <%= product.title %>
                    </a>
                    <div class="content-font d-flex justify-content-between cart-item-info-price">
                      <div class="item-info-item-price">
                        $<%= Number.parseFloat(product.price - (product.price * product.discount /
                        100)).toFixed(2) %> x <%= product.quantity %>
                      </div>
                      <div class="text-danger fw-bold item-info-item-total">
                        $<%= Number.parseFloat((product.price - (product.price * product.discount /
                        100)) * product.quantity).toFixed(2) %>
                      </div>
                    </div>
                  </div>
                </li>
                <% }) %>
              </ul>
              <% } %> <% if(miniCart.totalQuantityProduct > 0) { %>
              <h4 class="title-font my-2 text-capitalize text-center header-others-cart-title">
                <i class="bi bi-bag-check-fill"></i>
                Tổng tiền:
                <span class="fw-bold text-danger header-others-cart-total">
                  $<%= miniCart.totalPriceOrder %>
                </span>
              </h4>
              <% } %>
              <a href="/cart" class="button-secondary text-center text-decoration-none header-others-cart-button">Đi Tới Giỏ Hàng</a>
              <a class="button-primary text-center text-decoration-none header-others-cart-button">Thanh toán</a>
            </div>
          </div>
          <div class="header-others-notice">
            <i class="fa-solid fa-bell"></i>
          </div>
          <div class="header-others-auth">
            <div class="auth-avatar">
              <i class="bi bi-person-circle"></i>
              <ul class="auth-list">
                <li class="auth-item">
                  <a href="/login" class="auth-link"
                    ><i class="fa-solid fa-right-to-bracket"></i>Đăng nhập</a
                  >
                </li>
                <li class="auth-item">
                  <a href="/login" class="auth-link"
                    ><i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a
                  >
                </li>
                <li class="auth-item">
                  <a href="<%= prefixAdmin %>/dashboard" class="auth-link"
                    ><i class="fa-solid fa-right-from-bracket"></i>Quản trị</a
                  >
                </li>
                <li class="auth-item">
                  <a href="/setting" class="auth-link"><i class="fa-solid fa-gear"></i>Cài đặt</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header -->

<!-- Nav -->
<nav class="navheader">
  <div class="container">
    <div class="row">
      <div class="col-12 navheader-menu">
        <ul class="navheader-menu-list nav nav-pills nav-fill">
          <li class="navheader-menu-item">
            <a href="/" <% if(homeActive) { %>
              class="navheader-menu-link nav-link active" <% } else { %> class="navheader-menu-link
              nav-link" <% } %> aria-current="page" >Trang chủ</a
            >
          </li>
          <li class="navheader-menu-item">
            <a href="/about.html" class="navheader-menu-link nav-link">Giới thiệu</a>
          </li>
          <li class="navheader-menu-item">
            <a href="/products" <% if(productActive) { %>
              class="navheader-menu-link nav-link active" <% } else { %> class="navheader-menu-link
              nav-link" <% } %> >Sản phẩm</a
            >
          </li>
          <li class="navheader-menu-item">
            <% const pathCategory = "/categories" %>
            <a href="#" class="navheader-menu-link nav-link"
              >Thể loại <i class="bx bx-chevron-down"></i
            ></a>
            <%- include("./selecttree.view.ejs", { categoryListTree: categoryTree, level: 1 }) %>
          </li>
          <li class="navheader-menu-item">
            <a href="/contact.html" <% if(newsActive) { %>
              class="navheader-menu-link nav-link active" <% } else { %> class="navheader-menu-link
              nav-link" <% } %>>Tin tức</a
            >
          </li>
          <li class="navheader-menu-item">
            <a href="/contact.html" <% if(contactActive) { %>
              class="navheader-menu-link nav-link active" <% } else { %> class="navheader-menu-link
              nav-link" <% } %>>Liên hệ & Giúp đỡ</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- End Nav -->
