<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../../partials/seoMeta.view.ejs', { pageTitle: pageTitle}) %>

    <!-- Styles File -->
    <link rel="stylesheet" href="/client/setup.css" />
    <link rel="stylesheet" href="/client/styles/partials/alert.css" />
    <link rel="stylesheet" href="/client/styles/partials/header.css" />
    <link rel="stylesheet" href="/client/styles/pages/index/index.css" />
    <link rel="stylesheet" href="/client/styles/pages/index/index.responsive.css" />
    <link rel="stylesheet" href="/client/styles/partials/footer.css" />
    <!-- End Styles File -->

    <!-- Styles Library & Framework Link -->
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- BoxIcon -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- SlickSlide -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <!-- End Styles Library & Framework Link -->
  </head>
  <body>
    <%-include('../../partials/alertMessage.view.ejs') %>
    <%-include('../../partials/header.view.ejs', { categoryListTree: categoryTree, homeActive:
    "active", aboutActive: '', productActive: '', newsActive: '', contactActive: '', cartActive: ''
    }); %> <%-include("../../partials/headerMobile.view.ejs") %>

    <main class="main">
      <!-- Banner Header -->
      <section class="mt-3 mt-md-4 herobanner">
        <div class="container">
          <div class="row gap-md-0 px-2">
            <div class="col-lg-8 col-md-8 col-12 p-0">
              <div class="herobanner-slider button-trans">
                <div class="mx-1 herobanner-box">
                  <img
                    src="https://media.comem.vn/uploads/2025/09/Asset_14x-100.jpg"
                    alt=""
                    width="100%"
                  />
                </div>
                <div class="mx-1 herobanner-box">
                  <img
                    src="https://media.comem.vn/uploads/2025/09/Asset_2.png"
                    alt=""
                    width="100%"
                  />
                </div>
                <div class="mx-1 herobanner-box">
                  <img
                    src="https://media.comem.vn/uploads/2025/09/Asset_2.png"
                    alt=""
                    width="100%"
                  />
                </div>
              </div>
            </div>
            <div class="col-4 p-0 d-md-block d-none">
              <div class="herobanner-image d-flex flex-column gap-0">
                <div class="banner flex-grow-1">
                  <img
                    src="https://img.freepik.com/premium-vector/set-luxury-cosmetics-red-silk-background_259839-68.jpg"
                    alt=""
                    width="100%"
                  />
                </div>
                <div class="banner flex-grow-1">
                  <img
                    src="https://img.freepik.com/free-vector/pomegranate-cosmetic-bottles-beauty-banner_33099-2264.jpg?semt=ais_hybrid&w=740&q=80"
                    alt=""
                    width="100%"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Banner Header -->

      <!-- Product Type Card -->
      <section class="product-type">
        <div class="container">
          <h3 class="heading-text text-center product-type-title">Các Loại Sản Phẩm</h3>
          <div class="row g-2">
            <div class="col-lg-4 col-md-4 col-6 product-type-item">
              <div class="card-bg">
                <div class="card-overlay"></div>
                <div class="card-text">
                  <div class="title-font card-title">Nail care</div>
                  <span class="content-font card-content">Chăm sóc móng</span>
                </div>
                <img
                  src="https://file.hstatic.net/200000073977/file/cac-buoc-trang-diem-cho-da-dau_af42aec374df4d48abfee094b920598a.jpeg"
                  alt=""
                  class="card-img"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 product-type-item">
              <div class="card-bg">
                <div class="card-overlay"></div>
                <div class="card-text">
                  <div class="title-font card-title">Nail care</div>
                  <span class="content-font card-content">Chăm sóc móng</span>
                </div>
                <img
                  src="https://png.pngtree.com/background/20211216/original/pngtree-plant-beauty-daytime-cosmetics-indoor-still-life-posing-photography-map-with-picture-image_1540535.jpg"
                  alt=""
                  class="card-img"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 product-type-item">
              <div class="card-bg">
                <div class="card-overlay"></div>
                <div class="card-text">
                  <div class="title-font card-title">Nail care</div>
                  <span class="content-font card-content">Chăm sóc móng</span>
                </div>
                <img
                  src="https://nuochoamc.com/upload/images/bai-viet/336/nuoc-hoa-creed-mui-thom-nhat-nam-2024.webp"
                  alt=""
                  class="card-img"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 product-type-item">
              <div class="card-bg">
                <div class="card-overlay"></div>
                <div class="card-text">
                  <div class="title-font card-title">Nail care</div>
                  <span class="content-font card-content">Chăm sóc móng</span>
                </div>
                <img
                  src="https://thevigocorp.com/wp-content/uploads/2023/11/Authorized_Profressional_Slider-img-rsc.com2_.jpg-copy-768x536.jpg"
                  alt=""
                  class="card-img"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 product-type-item">
              <div class="card-bg">
                <div class="card-overlay"></div>
                <div class="card-text">
                  <div class="title-font card-title">Nail care</div>
                  <span class="content-font card-content">Chăm sóc móng</span>
                </div>
                <img
                  src="https://thevigocorp.com/wp-content/uploads/2023/11/Authorized_Profressional_Slider-img-rsc.com2_.jpg-copy-768x536.jpg"
                  alt=""
                  class="card-img"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 product-type-item">
              <div class="card-bg">
                <div class="card-overlay"></div>
                <div class="card-text">
                  <div class="title-font card-title">Nail care</div>
                  <span class="content-font card-content">Chăm sóc móng</span>
                </div>
                <img
                  src="https://thevigocorp.com/wp-content/uploads/2023/11/Authorized_Profressional_Slider-img-rsc.com2_.jpg-copy-768x536.jpg"
                  alt=""
                  class="card-img"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Product Type Card -->

      <!-- Feature Card Slide -->
      <section class="card-feature">
        <div class="container">
          <h3 class="heading-font text-center card-feature-heading">Sản Phẩm Nổi Bật</h3>
          <div class="row">
            <div class="col-12">
              <div class="card-feature-slider button-trans">
                <% productList.forEach((product) => { %> <% if(product.featured === '1') {%>
                <div class="card-bg" title="<%= product.title %>">
                  <div class="card-image">
                    <img
                      src="<%= product.thumbnail %>"
                      alt="product"
                      width="100%"
                      class="card-thumbnail"
                    />
                    <div class="card-link">
                      <a
                        href="/products/detail/<%= product.slug %>"
                        class="content-font card-link-detail"
                        >Xem chi tiết</a
                      >
                    </div>
                  </div>
                  <div class="content-font card-title mt-1">
                    <% if(product.title.length > 25) { %> <%= product.title.slice(0, 25) + '...' %>
                    <% } else { %> <%= product.title %><% } %>
                  </div>
                  <div class="card-box d-flex justify-content-between align-items-center">
                    <h5 class="title-font card-price">
                      <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND'
                      }).format(Number.parseFloat(product.price - (product.price / 100 *
                      product.discount))) %>
                    </h5>
                    <div class="card-favorite <% if(product.isLike) { %>active<% } %>">
                      <button class="border-0 btn-add-favorite" data-id="<%= product.id %>">
                        <i class="bi bi-suit-heart-fill"></i>
                      </button>
                    </div>
                  </div>
                  <div class="content-font text-danger text-decoration-line-through">
                    Giá gốc: <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND'
                    }).format(product.price) %>
                  </div>
                  <div class="card-rating d-flex justify-content-between align-items-center">
                    <div class="card-star">
                      <% for(let i = 1; i <= product.rating; i++) { %>
                      <i class="bi bi-star-fill"></i>
                      <% } %>
                    </div>
                    <form <% if(product.stock>
                      0) { %> action="/cart/add/<%= product.id %>" method="POST" <% } %>>
                      <button type="submit" class="border-0 bg-transparent">
                        <i title="add to cart" class="bi bi-bag-check-fill"></i>
                      </button>
                    </form>
                  </div>
                </div>
                <!-- End Card -->
                <% } %> <% }) %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Feature Card Slide -->

      <!-- Banner Image -->
      <section class="banner1 pt-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <a href="" class="banner1-link"
                ><img
                  src="https://tatthanh.com.vn/pic/Images/Module/News/images/image(4422).png"
                  alt=""
                  width="100%"
                  class="banner1-img"
              /></a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Banner Image -->

      <!-- Sale Card Slide -->
      <section class="card-sale">
        <div class="container">
          <h3 class="heading-font text-center card-sale-heading">Sản Phẩm Đang Giảm Giá</h3>
          <div class="row">
            <div class="col-12">
              <div class="card-sale-slider button-trans">
                <% productList.forEach((product) => { %> <% if(product. discount !== 0) {%>
                <div class="card-bg" title="<%= product.title %>">
                  <div class="card-image">
                    <img
                      src="<%= product.thumbnail %>"
                      alt="product"
                      width="100%"
                      class="card-thumbnail"
                    />
                    <div class="card-link">
                      <a
                        href="/products/detail/<%= product.slug %>"
                        class="content-font card-link-detail"
                        >Xem chi tiết</a
                      >
                    </div>
                  </div>
                  <div class="content-font card-title mt-1">
                    <% if(product.title.length > 25) { %> <%= product.title.slice(0, 25) + '...' %>
                    <% } else { %> <%= product.title %><% } %>
                  </div>
                  <div class="card-box d-flex justify-content-between align-items-center">
                    <h5 class="title-font card-price">
                      <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND'
                      }).format(Number.parseFloat(product.price - (product.price / 100 *
                      product.discount)))%>
                    </h5>
                    <div class="card-favorite <% if(product.isLike) { %>active<% } %>">
                      <button class="border-0 btn-add-favorite" data-id="<%= product.id %>">
                        <i class="bi bi-suit-heart-fill"></i>
                      </button>
                    </div>
                  </div>
                  <div class="content-font text-danger text-decoration-line-through">
                    Giá gốc: <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND'
                    }).format(product.price) %>
                  </div>
                  <div class="card-rating d-flex justify-content-between align-items-center">
                    <div class="card-star">
                      <% for(let i = 1; i <= product.rating; i++) { %>
                      <i class="bi bi-star-fill"></i>
                      <% } %>
                    </div>
                    <form <% if(product.stock>
                      0) { %> action="/cart/add/<%= product.id %>" method="POST" <% } %>>
                      <button type="submit" class="border-0 bg-transparent">
                        <i title="add to cart" class="bi bi-bag-check-fill"></i>
                      </button>
                    </form>
                  </div>
                </div>
                <!-- End Card -->
                <% } %> <% }) %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Sale Card Slide -->

      <!-- Google Map - Location -->
      <section class="location">
        <div class="container">
          <h3 class="heading-font text-center location-title">Vị Trí</h3>
          <div class="row">
            <div class="col-12">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3724.015028146711!2d105.84933997508097!3d21.032084680618116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zNyBQaOG7kSBIb8OgbmcsIFjDoyBMw6ogVmnhu4d0IMOdLCBIdXnhu4duIE3huqFjIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1730821024370!5m2!1svi!2s"
                width="100%"
                height="300"
                class="p-1"
                style="border: 1px solid #ccc"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </section>
      <!-- End Google Map - Location -->
    </main>

    <%-include('../../partials/footer.view.ejs') %>

    <form
      action="/cart/delete"
      method="POST"
      class="d-none form-delete-product-cart"
      id="form-delete-product-cart"
    ></form>

    <form
      action="/cart/change-quantity"
      method="POST"
      class="d-none form-change-quantity-cart"
      id="form-change-quantity-cart"
    ></form>

    <form
      action="/products/add-favorite"
      method="POST"
      class="d-none form-add-favorite"
      id="form-add-favorite"
    ></form>

    <!-- Scripts File -->
    <script src="/client/scripts/alertMessage.js"></script>
    <script src="/client/scripts/toggleHeaderMobile.js"></script>
    <script src="/client/scripts/product/toggleSearchProduct.js"></script>
    <script src="/client/scripts/cart/deleteProductInCart.js"></script>
    <script src="/client/scripts/cart/changeProductQuantity.js"></script>
    <script src="/client/scripts/addProductLike.js"></script>
    <script src="/client/scripts/scrollReload.js"></script>
    <!-- End Scripts File -->

    <!-- Scripts Library & Framework Link -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/aaf479b433.js" crossorigin="anonymous"></script>
    <!-- SlickSlide -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script type="text/javascript" src="/client/scripts/slickslide.js"></script>

    <!-- <script src="./scripts/googlemap.js"></script> -->
    <!-- End Scripts Library & Framework Link -->

    <script src="/reload/reload.js"></script>
  </body>
</html>
