<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../../partials/seo-meta.view.ejs', { pageTitle: pageTitle}) %>

    <!-- Styles File -->
    <link rel="stylesheet" href="/client/setup.css" />
    <link rel="stylesheet" href="/client/styles/partials/alert.css" />
    <!-- End Styles File -->

    <!-- Styles Library & Framework Link -->
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- BoxIcon -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- End Styles Library & Framework Link -->
  </head>
  <body>
    <%-include('../../partials/alert-message.view.ejs') %>

    <main class="main">
      <div class="w-100 py-5 px-4 d-flex justify-content-center align-items-center otp">
        <div class="bg-white d-flex flex-column gap-3 p-4 shadow otp-box" style="max-width: 100%">
          <div class="col-12">
            <h1
              class="heading-font fw-bold text-uppercase tex-center p-0 mb-0 otp-title"
              style="color: var(--primary-color)"
            >
              <%= pageTitle %>
            </h1>
          </div>

          <div class="col-12">
            <form
              action="/forgot-password-check-otp?email=<%= email %>"
              method="POST"
              class="otp-form"
              id="otp-form"
            >
              <div class="d-flex flex-column gap-0 justify-content-center otp-input-box">
                <div class="d-flex justify-content-center gap-1">
                  <input
                    type="text"
                    name="otp1"
                    class="input-type01 text-center otp-input"
                    style="width: 50px; height: 50px"
                  />
                  <input
                    type="text"
                    name="otp2"
                    class="input-type01 text-center otp-input"
                    style="width: 50px; height: 50px"
                  />
                  <input
                    type="text"
                    name="otp3"
                    class="input-type01 text-center otp-input"
                    style="width: 50px; height: 50px"
                  />
                  <input
                    type="text"
                    name="otp4"
                    class="input-type01 text-center otp-input"
                    style="width: 50px; height: 50px"
                  />
                  <input
                    type="text"
                    name="otp5"
                    class="input-type01 text-center otp-input"
                    style="width: 50px; height: 50px"
                  />
                </div>
                <span
                  class="otp-input-error error-otp"
                  style="color: var(--error-color); font-size: var(--error-font-size)"
                ></span>
              </div>
            </form>
          </div>

          <span class="content-font text-center p-0 m-0 otp-description"
            >(Mã OTP được gửi qua email <b class="fw-bold"><%= email %></b> có hiệu lực trong 3
            phút)</span
          >

          <div class="col-12 otp-reset-form-box">
            <form action="/forgot-password-create" method="POST" class="otp-reset-form">
              <input type="text" name="email" value="<%= email %>" class="d-none" />
              <button
                type="submit"
                class="button-secondary w-100 otp-reset-form-btn"
                id="otp-reset-form-btn-submit"
              >
                Gửi lại mã OTP
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <!-- Scripts File -->
    <script src="/client/scripts/alertMessage.js"></script>
    <script src="/client/scripts/auth/submitOtp.js"></script>
    <!-- End Scripts File -->

    <!-- Scripts Library & Framework Link -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/aaf479b433.js" crossorigin="anonymous"></script>
    <!-- End Scripts Library & Framework Link -->

    <script src="/reload/reload.js"></script>
  </body>
</html>
