<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../../partials/seoMeta.view.ejs", { pageTitle: pageTitle}) %>

    <!-- Style Library & Framework -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- Style File -->
    <link rel="stylesheet" href="/admin/setup.css" />
    <link rel="stylesheet" href="/admin/styles/partials/alert.css" />
    <link rel="stylesheet" href="/admin/styles/partials/header.css" />
    <link rel="stylesheet" href="/admin/styles/partials/sider.css" />
    <link rel="stylesheet" href="/admin/styles/pages/order/order.css" />
    <link rel="stylesheet" href="/admin/styles/partials/footer.css" />
  </head>
  <body>
    <%-include("../../partials/header.view.ejs") %>

    <div class="body">
      <%-include("../../partials/sider.view.ejs") %>

      <div class="main">
        <%-include("../../partials/alertMessage.view.ejs") %> <%
        if(roleAuth.permission.includes("order-view")) { %>

        <div class="row gap-md-0 gap-2 justify-content-between">
          <div class="col-12">
            <h1 class="heading-font text-primary py-0 text-start"><%= pageTitle %></h1>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header"><h5 class="title-font mb-0">Thông tin người đặt</h5></div>
          <div class="card-body">
            <div
              class="d-block d-md-flex justify-content-between flex-wrap gap-2 order-person-order"
            >
              <div class="d-md-flex d-block align-items-start gap-2 order-person-order-box">
                <div class="order-person-order-image">
                  <img
                    src="<%= orderDetail.userOrderInfo.avatar %>"
                    alt=""
                    class="rounded-2 order-person-order-avatar"
                  />
                </div>
                <div class="w-100 mt-2 mt-md-0 order-person-order-info">
                  <ul class="ps-0 mb-0 d-flex flex-column gap-1 order-person-order-list">
                    <li class="d-flex align-items-center gap-1 order-person-order-item">
                      <span class="fs-6 text-wrap order-person-order-value">
                        <b>Họ và tên: </b>
                      </span>
                      <h5 class="mb-0 text-primary text-wrap order-person-order-value">
                        <%= orderDetail.userOrderInfo.fullname %>
                      </h5>
                    </li>
                    <li class="order-person-order-item">
                      <span class="fs-6 text-wrap order-person-order-value">
                        <b>Địa chỉ email: </b><%= orderDetail.userOrderInfo.email %>
                      </span>
                    </li>
                    <li class="order-person-order-item">
                      <span class="fs-6 text-wrap order-person-order-value">
                        <b>Số điện thoại: </b><%= orderDetail.userOrderInfo.phone %>
                      </span>
                    </li>
                    <li class="order-person-order-item">
                      <span class="fs-6 text-wrap order-person-order-value">
                        <b>Địa chỉ: </b><%= orderDetail.userOrderInfo.address ?
                        orderDetail.userOrderInfo.address : 'Chưa cập nhật' %>
                      </span>
                    </li>
                    <% if(userOrder) { %>
                    <li class="order-person-order-item">
                      <span class="fs-6 text-wrap order-person-order-value">
                        <b>Trạng thái: </b>
                      </span>
                      <% if (userOrder.status === 'active') { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--success-color-admin)"
                      >
                        Hoạt động
                      </span>
                      <% } else { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--warning-color-admin)"
                      >
                        Ngừng hoạt động
                      </span>
                      <% } %>
                    </li>
                    <li class="order-person-order-item">
                      <span class="fs-6 text-wrap order-person-order-value">
                        <b>Tình trạng: </b>
                      </span>
                      <% if (userOrder.deleted) { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--error-color-admin)"
                      >
                        Đã bị xóa mềm
                      </span>
                      <% } else { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--info-color-admin)"
                      >
                        Đang lưu trong hệ thống
                      </span>
                      <% } %>
                    </li>
                    <% } else { %>
                    <li class="order-person-order-item">
                      <span class="fs-6 text-wrap order-person-order-value">
                        <b>Tồn tại: </b>
                      </span>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--error-color-admin)"
                      >
                        Đã bị xóa khỏi hệ thống
                      </span>
                    </li>
                    <% } %>
                  </ul>
                </div>
              </div>
              <div
                class="d-block mt-2 mt-md-0 d-md-flex justify-content-end align-items-end gap-2 order-person-order-button"
              >
                <% if(userOrder) { %> <% if(userOrder.deleted) { %>
                <a
                  href="<%= prefixAdmin %>/users/garbage"
                  class="btn btn-primary order-person-order-button-update"
                  ><i class="me-1 bi bi-pencil-square"></i>
                  Thùng rác
                </a>
                <% } else { %>
                <a
                  href="<%= prefixAdmin %>/users/update/<%= userOrder._id %>"
                  class="btn btn-primary order-person-order-button-update"
                  ><i class="me-1 bi bi-pencil-square"></i>
                  Chỉnh sửa
                </a>
                <% } %> <% } %>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header"><h5 class="title-font mb-0">Thông tin người nhận</h5></div>
          <div class="card-body">
            <div
              class="d-block d-md-flex justify-content-between flex-wrap gap-2 order-person-receiver"
            >
              <div class="d-md-flex d-block align-items-start gap-2 order-person-receiver-box">
                <div class="w-100 mt-2 mt-md-0 order-person-receiver-info">
                  <ul class="ps-0 mb-0 d-flex flex-column gap-1 order-person-receiver-list">
                    <li class="d-flex align-items-center gap-1 order-person-receiver-item">
                      <span class="fs-6 text-wrap order-person-receiver-value">
                        <b>Họ và tên: </b>
                      </span>
                      <h5 class="mb-0 text-primary text-wrap order-person-receiver-value">
                        <%= orderDetail.userConsigneeInfo.fullname %>
                      </h5>
                    </li>
                    <li class="order-person-receiver-item">
                      <span class="fs-6 text-wrap order-person-receiver-value">
                        <b>Địa chỉ email: </b><%= orderDetail.userConsigneeInfo.email %>
                      </span>
                    </li>
                    <li class="order-person-receiver-item">
                      <span class="fs-6 text-wrap order-person-receiver-value">
                        <b>Số điện thoại: </b><%= orderDetail.userConsigneeInfo.phone %>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header"><h5 class="title-font mb-0">Thông tin đơn hàng</h5></div>

          <div class="card-body">
            <div
              class="d-block d-md-flex justify-content-between flex-wrap gap-2 order-person-receiver"
            >
              <div class="d-md-flex d-block align-items-start gap-2 order-person-receiver-box">
                <div class="w-100 mt-2 mt-md-0 order-person-receiver-info">
                  <ul class="ps-0 mb-0 d-flex flex-column gap-1 order-person-receiver-list">
                    <li class="d-flex align-items-center gap-1 order-person-receiver-item">
                      <span class="fs-6 text-wrap order-person-receiver-value">
                        <b>Mã đơn hàng: </b>
                      </span>
                      <h5 class="mb-0 text-primary text-wrap order-person-receiver-value">
                        <%= orderDetail.orderCode %>
                      </h5>
                    </li>
                    <li class="order-person-receiver-item">
                      <span class="fs-6 text-wrap order-person-receiver-value">
                        <b>Địa chỉ giao hàng: </b><%= orderDetail.userConsigneeInfo.address %>
                      </span>
                    </li>
                    <li class="order-person-receiver-item">
                      <span class="fs-6 text-wrap order-person-receiver-value">
                        <b>Đặt lúc: </b>
                        <%= moment(orderDetail.createdAt).format('h:mm:ss - DD/MM/YYYY') %>
                      </span>
                    </li>
                    <li class="order-person-receiver-item">
                      <span class="fs-6 text-wrap order-person-receiver-value">
                        <b>Tình trạng thanh toán: </b>
                      </span>
                      <% if (orderDetail.payments.status === 'pending') { %>
                      <span
                        class="badge badge-primary order-person-receiver-value"
                        style="background: var(--secondary-color-admin)"
                      >
                        Chưa thanh toán
                      </span>
                      <% } else if (orderDetail.payments.status === 'success') { %>
                      <span
                        class="badge badge-primary order-person-receiver-value"
                        style="background: var(--success-color-admin)"
                      >
                        Đã thanh toán
                      </span>
                      <% } else if (orderDetail.payments.status === 'failed') { %>
                      <span
                        class="badge badge-primary order-person-receiver-value"
                        style="background: var(--error-color-admin)"
                      >
                        Thất bại
                      </span>
                      <% } else if (orderDetail.payments.status === 'refunded') { %>
                      <span
                        class="badge badge-primary order-person-receiver-value"
                        style="background: var(--info-color-admin)"
                      >
                        Đã hoàn trả
                      </span>
                      <% } else { %>
                      <span class="badge badge-primary order-person-receiver-value">
                        Chưa xac định
                      </span>
                      <% } %>
                    </li>
                    <li class="order-person-receiver-item">
                      <span class="fs-6 text-wrap order-person-order-value">
                        <b>Phương thức thanh toán: </b>
                      </span>
                      <% if (orderDetail.payments.method === 'offline') { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--warning-color-admin)"
                      >
                        Thanh toán khi nhận hàng
                      </span>
                      <% } else { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--info-color-admin)"
                      >
                        Thanh toán trực tuyến
                      </span>
                      <% } %>
                    </li>
                    <li class="order-person-receiver-item">
                      <span class="fs-6 text-wrap order-person-order-value">
                        <b>Phương thức vận chuyển: </b>
                      </span>
                      <% if (orderDetail.shippings.method === 'standard') { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--warning-color-admin)"
                      >
                        Giao hàng tiêu chuẩn
                      </span>
                      <% } else if (orderDetail.shippings.method === 'fast') { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--info-color-admin)"
                      >
                        Giao hàng nhanh
                      </span>
                      <% } else if (orderDetail.shippings.method === 'shop') { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--secondary-color-admin)"
                      >
                        Nhận tại cửa hàng
                      </span>
                      <% } else { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--error-color-admin)"
                      >
                        Chưa xác định
                      </span>
                      <% } %>
                    </li>
                    <li class="order-person-receiver-item">
                      <span class="fs-6 text-wrap order-person-order-value">
                        <b>Trạng thái đơn hàng: </b>
                      </span>
                      <% if (orderDetail.status === 'pending') { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--warning-color-admin)"
                      >
                        Chưa xác nhận
                      </span>
                      <% } else if (orderDetail.status === 'confirmed') { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--info-color-admin)"
                      >
                        Đã xác nhận
                      </span>
                      <% } else if (orderDetail.status === 'shipping') { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--primary-color-admin)"
                      >
                        Đang giao
                      </span>
                      <% } else if (orderDetail.status === 'delivered') { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--success-color-admin)"
                      >
                        Đã giao
                      </span>
                      <% } else if (orderDetail.status === 'cancelled') { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--error-color-admin)"
                      >
                        Đã hủy
                      </span>
                      <% } else { %>
                      <span
                        class="badge badge-primary order-person-order-value"
                        style="background: var(--dark-gray-color-admin)"
                      >
                        Ko xác định
                      </span>
                      <% } %>
                    </li>
                    <li class="order-person-receiver-item">
                      <span class="fs-6 text-wrap order-person-receiver-value">
                        <b>Ghi chú: </b><%= orderDetail.userConsigneeInfo.note ?
                        orderDetail.userConsigneeInfo.note : 'Không có ghi chú' %>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header">
            <div class="d-md-flex justify-content-between align-items-center d-block">
              <h5 class="title-font mb-2 mb-md-0">
                Thông tin sản phẩm (Trang hiện tại: <%= objPagination.currentPage %>)
              </h5>
              <%-include("../../partials/search.view.ejs", { placeholder: 'Nhập tên sản phẩm...' })
              %>
            </div>
          </div>

          <div class="card-body">
            <div class="container-fluid w-100">
              <div class="row">
                <div class="col-12 overflow-x-scroll">
                  <table class="table table-hover table-sm w-100">
                    <thead class="content-font">
                      <th class="bg-primary-subtle text-primary text-decoration-underline">STT</th>
                      <th class="bg-primary-subtle text-primary text-decoration-underline">
                        Ảnh sản phẩm
                      </th>
                      <th class="bg-primary-subtle text-primary text-decoration-underline">
                        Tiêu đề
                      </th>
                      <th class="bg-primary-subtle text-primary text-decoration-underline">
                        Giá tiền
                      </th>
                      <th class="bg-primary-subtle text-primary text-decoration-underline">
                        Giảm giá
                      </th>
                      <th class="bg-primary-subtle text-primary text-decoration-underline">
                        Số lượng
                      </th>
                      <th class="bg-primary-subtle text-primary text-decoration-underline">
                        Thành tiền
                      </th>
                      <th class="bg-primary-subtle text-primary text-decoration-underline">
                        Hành động
                      </th>
                    </thead>

                    <tbody class="content-font">
                      <% if (productListInOrder && productListInOrder.length > 0) { %> <%
                      productListInOrder.forEach((product, index) => { %>
                      <tr>
                        <td>
                          <span><%= index + 1 %></span>
                        </td>
                        <td>
                          <img
                            src="<%= product.thumbnail %>"
                            alt="<%= product.title %>"
                            width="100px"
                          />
                        </td>
                        <td><span><%= product.title %></span></td>
                        <td>
                          <span class="fw-bold"
                            ><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND'
                            }).format(product.price) %>
                          </span>
                        </td>
                        <td><span><%= product.discount %>%</span></td>
                        <td><span><%= product.quantity %></span></td>
                        <td>
                          <span class="fw-bold" style="color: var(--warning-color-admin)"
                            ><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND'
                            }).format(product.total) %>
                          </span>
                        </td>
                        <td>
                          <% productList.forEach((prd) => { %> <% if(prd && prd.id === product.id) {
                          %>
                          <a
                            href="<%= prefixAdmin %>/products/update/<%= product.id %>"
                            data-id="<%= product.id %>"
                            class="btn btn-primary btn-sm mb-1 btn-update"
                          >
                            <i class="bi bi-pencil-square me-1"></i>Sửa
                          </a>
                          <a
                            href="<%= prefixAdmin %>/products/detail/<%= product.id %>"
                            class="btn btn-outline-black text-black border-black btn-sm"
                          >
                            Chi tiết
                            <i class="bi bi-arrow-right-short ml-1"></i>
                          </a>
                          <% } %> <% }) %>
                        </td>
                      </tr>
                      <% }) %> <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="container-fluid">
              <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-12">
                  <%-include("../../partials/pagination.view.ejs") %>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="d-md-flex justify-content-end d-block text-center order-total">
                    <h3 class="title-font mb-0" style="color: var(--error-color-admin)">
                      Tổng tiền: <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency:
                      'VND' }).format(orderDetail.total) %>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between gap-3 flex-wrap">
          <a
            href="<%= prefixAdmin %>/orders/update/<%= orderDetail._id %>"
            data-id="<%= orderDetail._id %>"
            class="btn btn-primary btn-sm btn-update"
          >
            <i class="bi bi-pencil-square me-1"></i>Chỉnh sửa đơn hàng
          </a>
          <a
            href="<%= prefixAdmin %>/orders/print/<%= orderDetail._id %>"
            class="btn btn-outline-black text-black border-black btn-sm btn-print"
          >
            <i class="bi bi-printer me-1"></i>In hóa đơn hàng
          </a>
        </div>

        <% } %>
      </div>
    </div>

    <%-include("../../partials/footer.view.ejs") %>

    <form action="<%= prefixAdmin %>/orders" method="POST" class="d-none" form-delete></form>

    <!-- Script File -->
    <script src="/admin/scripts/showAlert.js"></script>
    <script src="/admin/scripts/sidebarToggle.js"></script>
    <script src="/admin/scripts/statusFilter.js"></script>
    <script src="/admin/scripts/search.js"></script>
    <script src="/admin/scripts/sort.js"></script>
    <script src="/admin/scripts/product/priceFilter.js"></script>
    <script src="/admin/scripts/changeMulti.js"></script>
    <script src="/admin/scripts/pagination.js"></script>
    <script src="/admin/scripts/delete.js"></script>
    <script src="/admin/scripts/order/changeStatusSelect.js"></script>
    <script src="/admin/scripts/activeSidebarLink.js"></script>
    <script src="/admin/scripts/toggleAccountInfo.js"></script>

    <!-- Script Library & Framwork -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/aaf479b433.js" crossorigin="anonymous"></script>
    <script src="../../../reload/reload.js"></script>
  </body>
</html>
