<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../../partials/seoMeta.view.ejs', { pageTitle: pageTitle}) %>

    <!-- Styles File -->
    <link rel="stylesheet" href="/client/setup.css" />
    <link rel="stylesheet" href="/client/styles/partials/alert.css" />
    <link rel="stylesheet" href="/client/styles/partials/header.css" />
    <link rel="stylesheet" href="/client/styles/pages/index/index.css" />
    <link rel="stylesheet" href="/client/styles/pages/index/index.responsive.css" />
    <link rel="stylesheet" href="/client/styles/partials/breadcrumb.css" />
    <link rel="stylesheet" href="/client/styles/partials/footer.css" />
    <!-- End Styles File -->

    <!-- Styles Library & Framework Link -->
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- BoxIcon -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- SlickSlide -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <!-- End Styles Library & Framework Link -->
  </head>
  <body>
    <%-include('../../partials/alertMessage.view.ejs') %>
    <%-include('../../partials/header.view.ejs', { categoryListTree: categoryTree, homeActive: "",
    aboutActive: '', productActive: '', newsActive: '', contactActive: 'active', cartActive: '' });
    %> <%-include("../../partials/headerMobile.view.ejs") %>

    <main class="main">
      <%-include('../../partials/breadcrumb.view.ejs', { pageTitle: pageTitle, pageUrl: pageUrl })%>
      <h3 class="heading-font text-center pt-0">Liên hệ với chúng tôi</h3>

      <section class="contact-box">
        <div class="container">
          <div class="row gap-md-0 gap-2">
            <div class="col-lg-6 col-12">
              <div class="d-flex justify-content-center flex-column w-100 h-100 contact-info-text">
                <div class="pb-4 w-100 d-flex justify-content-center contact-logo-box">
                  <a href="/" class="contact-logo-link"
                    ><img
                      src="<%= clientWebsite ? clientWebsite.logo : '' %>"
                      alt="logo"
                      width="200px"
                      class="contact-logo-img"
                  /></a>
                </div>
                <h5 class="title-font">Thông tin liên hệ</h5>
                <ul class="content-font ps-0 d-flex flex-column gap-2 contact-info-text-list">
                  <li class="d-flex align-items-center contact-info-text-item">
                    <i class="bi bi-envelope-fill me-2"></i><b class="fw-bold">Địa chỉ email: </b>
                    <a href="mailto:<%= generalWebsite ? generalWebsite.email : '' %>">
                      <%= generalWebsite ? generalWebsite.email : '' %></a
                    >
                  </li>
                  <li class="d-flex align-items-center contact-info-text-item">
                    <i class="bi bi-telephone-fill me-2"></i><b class="fw-bold">Hotline/Zalo: </b>
                    <a href="tel:<%= generalWebsite ? generalWebsite.phone : '' %>">
                      <%= generalWebsite ? generalWebsite.phone : '' %></a
                    >
                  </li>
                </ul>
                <div class="contact-map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3724.015028146711!2d105.84933997508097!3d21.032084680618116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zNyBQaOG7kSBIb8OgbmcsIFjDoyBMw6ogVmnhu4d0IMOdLCBIdXnhu4duIE3huqFjIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1730821024370!5m2!1svi!2s"
                    width="100%"
                    height="350"
                    class="p-1"
                    style="border: 1px solid #ccc"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-12">
              <div class="contact-form-box">
                <form
                  action="/contact"
                  method="POST"
                  class="d-flex flex-column gap-3 contact-info-form"
                >
                  <div class="d-flex justify-content-between w-100 gap-3 flex-wrap">
                    <div
                      class="d-flex flex-column flex-fill form-group contact-info-form-input contact-info-form-fullname"
                    >
                      <label for="fullname" class="title-font fw-bold">Họ và tên</label>
                      <input
                        type="text"
                        name="fullname"
                        id="fullname"
                        placeholder="Nhập họ và tên..."
                        class="input-type01 contact-info-form-inp"
                      />
                      <span
                        class="contact-info-form-error"
                        style="color: var(--error-color); font-size: var(--error-font-size)"
                      ></span>
                    </div>

                    <div
                      class="d-flex flex-column flex-fill form-group contact-info-form-input contact-info-form-email"
                    >
                      <label for="email" class="title-font fw-bold">Địa chi email</label>
                      <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Nhập địa chi email..."
                        class="input-type01 contact-info-form-inp"
                      />
                      <span
                        class="contact-info-form-error"
                        style="color: var(--error-color); font-size: var(--error-font-size)"
                      ></span>
                    </div>

                    <div
                      class="d-flex flex-column flex-fill form-group contact-info-form-input contact-info-form-phone"
                    >
                      <label for="phone" class="title-font fw-bold">Số điện thoại</label>
                      <input
                        type="text"
                        name="phone"
                        id="phone"
                        placeholder="Nhập số điện thoại..."
                        class="input-type01 contact-info-form-inp"
                      />
                      <span
                        class="contact-info-form-error"
                        style="color: var(--error-color); font-size: var(--error-font-size)"
                      ></span>
                    </div>
                  </div>

                  <div
                    class="d-flex flex-column form-group contact-info-form-input contact-info-form-subject"
                  >
                    <label for="subject" class="title-font fw-bold">Tiêu đề</label>
                    <input
                      type="text"
                      name="subject"
                      id="subject"
                      placeholder="Nhập tiêu đề..."
                      class="input-type01 contact-info-form-inp"
                    />
                    <span
                      class="contact-info-form-error"
                      style="color: var(--error-color); font-size: var(--error-font-size)"
                    ></span>
                  </div>

                  <div
                    class="d-flex flex-column form-group contact-info-form-input contact-info-form-message"
                  >
                    <label for="message" class="title-font fw-bold">Nội dung</label>
                    <textarea
                      name="message"
                      id="message"
                      cols="30"
                      rows="10"
                      placeholder="Nhập nội dung..."
                      class="input-type01 form-control contact-info-form-inp"
                    ></textarea>
                    <span
                      class="contact-info-form-error"
                      style="color: var(--error-color); font-size: var(--error-font-size)"
                    ></span>
                  </div>

                  <div class="d-flex flex-column form-group">
                    <button type="submit" class="button-secondary w-100">Gửi</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%-include('../../partials/footer.view.ejs') %>

    <form
      action="/cart/delete"
      method="POST"
      class="d-none form-delete-product-cart"
      id="form-delete-product-cart"
    ></form>

    <form
      action="/cart/change-quantity"
      method="POST"
      class="d-none form-change-quantity-cart"
      id="form-change-quantity-cart"
    ></form>

    <!-- Scripts File -->
    <script src="/client/scripts/alertMessage.js"></script>
    <script src="/client/scripts/toggleHeaderMobile.js"></script>
    <script src="/client/scripts/product/toggleSearchProduct.js"></script>
    <script src="/client/scripts/cart/deleteProductInCart.js"></script>
    <script src="/client/scripts/cart/changeProductQuantity.js"></script>
    <script src="/client/scripts/contact/submitContactForm.js"></script>
    <!-- End Scripts File -->

    <!-- Scripts Library & Framework Link -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/aaf479b433.js" crossorigin="anonymous"></script>
    <!-- SlickSlide -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script type="text/javascript" src="/client/scripts/slickslide.js"></script>

    <!-- <script src="./scripts/googlemap.js"></script> -->
    <!-- End Scripts Library & Framework Link -->
    <script
      src="https://cdn.tiny.cloud/1/j8bmm28z8l7u8m5at9v64rveeytj143ibxpezl0aks1g6uzx/tinymce/8/tinymce.min.js"
      referrerpolicy="origin"
      crossorigin="anonymous"
    ></script>
    <script src="/client/scripts/tinymce.js"></script>

    <script src="/reload/reload.js"></script>
  </body>
</html>
