<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../../partials/seo-meta.view.ejs', { pageTitle: pageTitle}) %>

    <!-- Styles File -->
    <link rel="stylesheet" href="/client/setup.css" />
    <link rel="stylesheet" href="/client/styles/partials/alert.css">
    <link rel="stylesheet" href="/client/styles/partials/header.css" />
    <link rel="stylesheet" href="/client/styles/pages/index/index.css" />
    <link rel="stylesheet" href="/client/styles/pages/index/index.responsive.css" />
    <link rel="stylesheet" href="/client/styles/pages/product/product.css" />
    <link rel="stylesheet" href="/client/styles/pages/product/product.responsive.css" />
    <link rel="stylesheet" href="/client/styles/partials/footer.css" />
    <!-- End Styles File -->

    <!-- Styles Library & Framework Link -->
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- BoxIcon -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- SlickSlide -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <!-- End Styles Library & Framework Link -->
  </head>
  <body>
    <%-include('../../partials/alert-message.view.ejs') %>
    <%-include('../../partials/header.view.ejs', { categoryListTree: categoryTree, homeActive: '',
    aboutActive: '', productActive: "active", newsActive: '', contactActive: '', cartActive: '' }); %>
    <%-include("../../partials/header-mobile.view.ejs") %>

    <main class="main">
      <h1 class="heading-font product__list-heading">Danh Sách Sản Phẩm</h1>

      <div class="container">
        <div class="row">
          <!-- Filter -->
          <div class="col-lg-3 col-md-4 col-12">
            <div class="product__filter p-3">
              <div class="product__filter-delete mb-4 justify-content-between align-items-center">
                <span>Bộ Lọc Sản Phẩm</span>
                <button class="content-font product__filter-close">
                  <i class="bi bi-x-lg"></i>
                </button>
              </div>

              <div class="product__filter-category mb-4">
                <h4 class="title-font filter__category-title">Danh mục</h4>
                <ul class="filter__category-list nav nav-pills nav-fill">
                  <li
                    class="filter__category-item <%if (filterByCategoryActive === 'nailcare') { %>active<% } %>"
                  >
                    <button category="nailcare" class="filter__category-link">Nailcare</button>
                  </li>
                  <li
                    class="filter__category-item <% if (filterByCategoryActive === 'haircare') { %>active<% } %>"
                  >
                    <button category="haircare" class="filter__category-link">Haircare</button>
                  </li>
                  <li
                    class="filter__category-item <% if (filterByCategoryActive === 'skincare') { %>active<% } %>"
                  >
                    <button category="skincare" class="filter__category-link">Skincare</button>
                  </li>
                  <li
                    class="filter__category-item <% if (filterByCategoryActive === 'bodycare') { %>active<% } %>"
                  >
                    <button category="bodycare" class="filter__category-link">Bodycare</button>
                  </li>
                  <li
                    class="filter__category-item <% if (filterByCategoryActive === 'makeup') { %>active<% } %>"
                  >
                    <button category="makeup" class="filter__category-link">Makeup</button>
                  </li>
                  <li
                    class="filter__category-item <% if (filterByCategoryActive === 'perfume') { %>active<% } %>"
                  >
                    <button category="perfume" class="filter__category-link">Perfume</button>
                  </li>
                </ul>
                <hr />
              </div>

              <div class="product__filter-price mb-4">
                <h4 class="title-font filter__price-title">Mức giá</h4>
                <input
                  type="range"
                  class="filter__price-range w-100"
                  id="price"
                  value="<%= priceFilter.to %>"
                  min="0"
                  max="<%= productMaxPrice.price %>"
                  step="500"
                  title="<%= priceFilter.to %>"
                />
                <div class="filter__price-minmax d-flex justify-content-between">
                  <span class="content-font filter__price-min">Từ: <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND'
                    }).format(0)%></span>
                  <span class="content-font filter__price-value">Tới: <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND'
                    }).format(priceFilter.to) %></span>
                  <span class="content-font filter__price-max"
                    >Tối đa: <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND'
                    }).format(productMaxPrice.price) %></span
                  >
                </div>
                <hr />
              </div>

              <div class="product__filter-freeship mb-4">
                <h4 class="title-font filter__freeship-title">Vận chuyển</h4>
                <label
                  for="freeship"
                  class="content-font <% if(filterByFreeShipStatus === true) { %>active<% } %>"
                  >Miễn phí vận chuyển</label
                >
                <input type="checkbox" <% if(filterByFreeShipStatus === true) { %> checked <% } %>
                class="filter__freeship-input ms-2" id="freeship" />
                <hr />
              </div>

              <div class="product__filter-sale mb-4">
                <h4 class="title-font filter__sale-title">Giảm giá</h4>
                <label
                  for="sale"
                  class="content-font <% if(filterBySaleStatus === true) { %>active<% } %>"
                  >Đang giảm giá</label
                >
                <input type="checkbox" <% if(filterBySaleStatus === true) { %> checked <% } %>
                class="filter__sale-input ms-2" id="sale" />
                <hr />
              </div>

              <div class="product__filter-featured mb-4">
                <h4 class="title-font filter__sale-title">Nổi bật</h4>
                <label
                  for="featured"
                  class="content-font <% if(filterByFeaturedStatus === true) { %>active<% } %>"
                  >Đang nổi bật</label
                >
                <input type="checkbox" <% if(filterByFeaturedStatus === true) { %> checked <% } %>
                class="filter__featured-input ms-2" id="featured" />
                <hr />
              </div>
            </div>
          </div>
          <!-- End filter -->

          <div class="col-lg-9 col-md-8 col-12">
            <!-- Filter close -->
            <div class="product__filter-remove mb-1">
              <ul class="filter__remove-list d-flex gap-1 flex-wrap p-0 mb-2">
                <% removeFilterArr.forEach((filterItem) => {%>
                <li
                  class="filter__remove-item p-2 <% if(!filterItem.query) { %>d-none<% } %>"
                  title="<%= filterItem.title %>"
                  keyword="<%= filterItem.keyword %>"
                >
                  <span class="content-font filter__remove-title"><%= filterItem.title %></span>
                  <i class="bi bi-x-lg"></i>
                </li>
                <% }) %>
              </ul>
              <div class="d-flex justify-content-between flex-wrap">
                <% if(keyword) { %>
              <h5 class="title-font product__remove-search d-block">
                Tìm kiếm:
                <span class="product__search-keyword"><b><%= keyword %></b></span>
              </h5>
              <% } %>
                <% if (objPagination.currentPage) { %>
              <h5 class="product__remove-page">
                Trang:
                <span class="product__page-current"><b><%= objPagination.currentPage %></b></span>
              </h5>
              <%} %>
              </div>
            </div>
            <!-- End filter close -->

            <!-- Product filter mobile -->
            <div class="product__filter-mobile justify-content-between mb-1">
              <div class="content-font product__filter-quantity">
                <select name="quantity" class="filter__quantity-limit">
                  <option disabled selected class="filter__quantity-option">-- Hiển thị --</option>
                  <option value="4" <% if(productLimit === 4) { %>selected<% } %> class="filter__quantity-option">4</option>
                  <option value="8" <% if(productLimit === 8) { %>selected<% } %> class="filter__quantity-option">8</option>
                  <option value="12" <% if(productLimit === 12) { %>selected<% } %> class="filter__quantity-option">12</option>
                </select>
              </div>

              <div class="content-font product__filter-button">
                <button class="filter__button-show">Bộ lọc<i class="bi bi-filter ms-2"></i></button>
              </div>
            </div>
            <!-- End product filter mobile -->

            <div class="product__list">
              <!-- Product list -->
              <div class="row g-2">
                <% if(productList.length === 0) { %><span class="content-font text-center"
                  >(Không tìm thấy sản phẩm phù hợp)</span
                ><% } %> <% productList.forEach(product => { %>
                <!-- Card -->
                <div class="col-lg-3 col-md-4 col-6">
                  <div class="card__bg" title="<%= product.title %>">
                    <div class="card__image">
                      <img
                        src="<%= product.thumbnail %>"
                        alt="product"
                        width="100%"
                        class="card__thumbnail"
                      />
                      <div class="card__link">
                        <a
                          href="/products/detail/<%= product.slug %>"
                          class="content-font card__link-detail"
                          >Xem chi tiết</a
                        >
                      </div>
                    </div>
                    <div class="content-font card__title mt-1">
                      <% if(product.title.length > 25) { %> <%= product.title.slice(0, 25) + '...'
                      %> <% } else { %> <%= product.title %><% } %>
                    </div>
                    <div class="card__box d-flex justify-content-between align-items-center">
                      <h5 class="title-font card__price">
                        <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND'
                    }).format(Number.parseFloat(product.price - (product.price / 100 *
                        product.discount)))%>
                      </h5>
                      <div class="card__favorite">
                        <i class="bi bi-suit-heart-fill"></i>
                      </div>
                    </div>
                    <div class="content-font text-danger text-decoration-line-through">
                      Giá gốc: <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND'
                    }).format(product.price) %>
                    </div>
                    <div class="card__rating d-flex justify-content-between align-items-center">
                      <div class="card__star">
                        <% for(let i = 1; i <= product.rating; i++) { %>
                        <i class="bi bi-star-fill"></i>
                        <% } %>
                      </div>
                      <form action="/cart/add/<%= product.id %>" method="POST">
                        <button type="submit" class="border-0 bg-transparent"><i title="add to cart" class="bi bi-bag-check-fill"></i></button>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- End card -->
                <% }) %>
              </div>
              <!-- End product list -->

              <!-- Product Pagination -->
              <div class="row g-2">
                <div class="product__pagination mt-5 d-flex justify-content-center">
                  <ul class="content-font product__pagination-list nav nav-pills ps-0 d-flex flex-wrap gap-1 justify-content-center">
                    <li class="product__pagination-item page__first nav-link <% if(objPagination.currentPage <= 1) { %>active<% } %>">
                      Đầu
                    </li>
                    <button <% if(objPagination.currentPage <= 1) { %>disabled<% } %> class="product__pagination-item page__prev nav-link">
                      <i class="bi bi-arrow-left-short"></i>
                    </button>
                    <% for(let i = 1; i <= objPagination.pageTotal; i++) { %>
                      <li class="product__pagination-item page__number nav-link <% if(i === objPagination.currentPage) { %>active<% } %>" page-number="<%= i %>"><%= i %></li>
                    <% } %>
                    <button <% if(objPagination.currentPage >= objPagination.pageTotal) { %>disabled<% } %> class="product__pagination-item page__next nav-link">
                      <i class="bi bi-arrow-right-short"></i>
                    </button>
                    <li class="product__pagination-item page__last nav-link <% if(objPagination.currentPage >= objPagination.pageTotal) { %>active<% } %>">
                      Cuối
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End product pagination -->
            </div>
          </div>
        </div>
      </div>
    </main>

    <form
      action="/cart/delete"
      method="POST"
      class="d-none form-delete-product-cart"
      id="form-delete-product-cart"
    ></form>

    <form
      action="/cart/change-quantity"
      method="POST"
      class="d-none form-change-quantity-cart"
      id="form-change-quantity-cart"
    ></form>

    <%-include("../../partials/footer.view.ejs") %>

    <!-- Scripts File -->
    <script src="/client/scripts/alertMessage.js"></script>
    <script src="/client/scripts/toggleHeaderMobile.js"></script>
    <script src="/client/scripts/customInputRange.js"></script>
    <script src="/client/scripts/product/showProductFilter.js"></script>
    <script src="/client/scripts/product/filterByPrice.js"></script>
    <script src="/client/scripts/product/filterBySale.js"></script>
    <script src="/client/scripts/product/filterByShippingFee.js"></script>
    <script src="/client/scripts/product/filterByFeaturedProduct.js"></script>
    <script src="/client/scripts/product/filterByCategory.js"></script>
    <script src="/client/scripts/product/filterByProductQuantity.js"></script>
    <script src="/client/scripts/product/removeProductFilter.js"></script>
    <script src="/client/scripts/product/pagination.js"></script>
    <script src="/client/scripts/cart/deleteProductInCart.js"></script>
    <script src="/client/scripts/cart/changeProductQuantity.js"></script>
    <!-- End Scripts File -->

    <!-- Scripts Library & Framework Link -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/aaf479b433.js" crossorigin="anonymous"></script>
    <!-- SlickSlide -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script type="text/javascript" src="/client/scripts/slickslide.js"></script>

    <!-- <script src="./scripts/googlemap.js"></script> -->
    <!-- End Scripts Library & Framework Link -->

    <script src="/reload/reload.js"></script>
  </body>
</html>
