<header
  class="sb-topnav navbar navbar-expand navbar-dark shadow header"
  id="header"
  style="
    background: var(--secondary-color-admin);
    border-bottom: 1px solid var(--light-gray-color-admin);
  "
>
  <!-- Navbar Brand-->
  <a
    class="title-font navbar-brand ps-3 d-flex align-items-center header-title"
    href="<%= prefixAdmin %>/dashboard"
  >
    <img
      src="<%= adminWebsite ? adminWebsite.logo : '' %>"
      alt="admin-logo"
      width="100px"
      class="me-2 header-logo"
    />
    <div class="d-none d-lg-block header-logo-text">WEB ADMIN</div>
  </a>
  <!-- Sidebar Toggle-->
  <button
    class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 header-toggle"
    id="sidebarToggle"
    href="#!"
  >
    <i class="text-white d-block d-lg-none fas fa-bars header-menu"></i>
  </button>
  <!-- Navbar Search-->
  <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
  <!-- Navbar-->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 d-md-inline-block header-user-list">
    <li class="nav-item dropdown header-user-item">
      <a
        class="nav-link dropdown-toggle header-user-link"
        id="navbarDropdown"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><img
          class="rounded-circle img-avatar header-user-avatar"
          src="<%= account.avatar %>"
          alt="avatar"
          width="40px"
          height="40px"
      /></a>
      <ul
        class="dropdown-menu dropdown-menu-end header-user-dropdown"
        aria-labelledby="navbarDropdown"
      >
        <li>
          <div class="dropdown-item header-dropdown-link">
            Xin chào <b><%= account.fullName %></b> 😍
          </div>
        </li>
        <li>
          <a
            class="btn btn-primary dropdown-item text-white header-dropdown-link"
            href="<%= prefixAdmin %>/profile"
            >Thông tin cá nhân</a
          >
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li>
          <a class="dropdown-item header-dropdown-link" href="<%= prefixAdmin %>/auth/logout"
            >Đăng xuất <i class="ms-1 fas fa-sign-out-alt"></i
          ></a>
        </li>
      </ul>
    </li>
  </ul>
</header>
