<div id="sidebar-layout" class="shadow">
  <div id="sidebar-nav-overlay"></div>
  <div id="sidebar-nav-box" style="background: var(--secondary-color-admin)">
    <nav
      class="sb-sidenav accordion sb-sidenav-dark h-100 d-flex flex-column justify-content-between sidebar-nav-accordion"
      id="sidebar-nav-accordion"
    >
      <div class="sb-sidenav-menu sidebar-nav-menu">
        <div class="nav d-flex flex-column p-1 gap-1 sidebar-nav-list">
          <a
            class="text-white d-flex gap-2 nav-link sidebar-nav-link"
            sidebar-number="1"
            href="<%= prefixAdmin %>/dashboard"
          >
            <div class="sb-nav-link-icon"><i class="bi bi-house-fill"></i></div>
            Tổng quan
          </a>
          <!-- <a
            class="text-white d-flex gap-2 nav-link sidebar-nav-link"
            sidebar-number="2"
            href="<%= prefixAdmin %>/products"
          >
            <div class="sb-nav-link-icon"><i class="fa-solid fa-list-ul"></i></div>
            Sản phẩm
          </a>
          <a
            class="text-white d-flex gap-2 nav-link sidebar-nav-link"
            sidebar-number="3"
            href="<%= prefixAdmin %>/categories"
          >
            <div class="sb-nav-link-icon"><i class="fa-solid fa-bars-staggered"></i></div>
            Danh mục
          </a> -->
          <a
            class="text-white d-flex gap-2 nav-link collapsed sidebar-nav-link"
            sidebar-number="2"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#productColapseLayouts"
            aria-expanded="false"
            aria-controls="productColapseLayouts"
          >
            <div class="sb-nav-link-icon"><i class="fa-solid fa-list-ul"></i></div>
            Sản phẩm
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div
            class="collapse"
            id="productColapseLayouts"
            aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion"
          >
            <nav class="sb-sidenav-menu-nested nav gap-1">
              <a
                class="text-white d-flex gap-2 w-100 nav-link sidebar-nav-link"
                href="<%= prefixAdmin %>/products"
                ><i class="bi bi-caret-right-fill me-1"></i>Danh sách sản phẩm</a
              >
              <a
                class="text-white d-flex gap-2 w-100 nav-link sidebar-nav-link"
                href="<%= prefixAdmin %>/product-categories"
                ><i class="bi bi-caret-right-fill me-1"></i>Danh mục sản phẩm</a
              >
            </nav>
          </div>
          <a
            class="text-white d-flex gap-2 nav-link collapsed sidebar-nav-link"
            sidebar-number="2"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#postColapseLayouts"
            aria-expanded="false"
            aria-controls="postColapseLayouts"
          >
            <div class="sb-nav-link-icon"><i class="fa-solid fa-bars-staggered"></i></div>
            Bài viết
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div
            class="collapse"
            id="postColapseLayouts"
            aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion"
          >
            <nav class="sb-sidenav-menu-nested nav gap-1">
              <a
                class="text-white d-flex gap-2 w-100 nav-link sidebar-nav-link"
                href="<%= prefixAdmin %>/posts"
                ><i class="bi bi-caret-right-fill me-1"></i>Danh sách bài viết</a
              >
              <a
                class="text-white d-flex gap-2 w-100 nav-link sidebar-nav-link"
                href="<%= prefixAdmin %>/post-categories"
                ><i class="bi bi-caret-right-fill me-1"></i>Danh mục bài viết</a
              >
            </nav>
          </div>
          <a
            class="text-white d-flex gap-2 nav-link sidebar-nav-link"
            sidebar-number="3"
            href="<%= prefixAdmin %>/orders"
          >
            <div class="sb-nav-link-icon"><i class="bi bi-bag-check-fill"></i></div>
            Đơn hàng
          </a>
          <!-- <a
            class="text-white d-flex gap-2 nav-link sidebar-nav-link"
            sidebar-number="5"
            href="<%= prefixAdmin %>/accounts"
          >
            <div class="sb-nav-link-icon"><i class="bi bi-person-circle"></i></div>
            Quản trị viên
          </a> -->
          <a
            class="text-white d-flex gap-2 nav-link collapsed sidebar-nav-link"
            sidebar-number="4"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#accountColapseLayouts"
            aria-expanded="false"
            aria-controls="accountColapseLayouts"
          >
            <div class="sb-nav-link-icon"><i class="bi bi-person-circle"></i></div>
            Tài khoản
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div
            class="collapse"
            id="accountColapseLayouts"
            aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion"
          >
            <nav class="sb-sidenav-menu-nested nav gap-1">
              <a
                class="text-white d-flex gap-2 w-100 nav-link sidebar-nav-link"
                href="<%= prefixAdmin %>/accounts"
                ><i class="bi bi-caret-right-fill me-1"></i>Danh sách quản trị viên</a
              >
              <a
                class="text-white d-flex gap-2 w-100 nav-link sidebar-nav-link"
                href="<%= prefixAdmin %>/users"
                ><i class="bi bi-caret-right-fill me-1"></i>Danh sách người dùng</a
              >
            </nav>
          </div>
          <a
            class="text-white d-flex gap-2 nav-link collapsed sidebar-nav-link"
            sidebar-number="5"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#roleColapseLayouts"
            aria-expanded="false"
            aria-controls="roleColapseLayouts"
          >
            <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
            Phân quyền
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div
            class="collapse"
            id="roleColapseLayouts"
            aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion"
          >
            <nav class="sb-sidenav-menu-nested nav gap-1">
              <a
                class="text-white d-flex gap-2 w-100 nav-link sidebar-nav-link"
                href="<%= prefixAdmin %>/roles"
                ><i class="bi bi-caret-right-fill me-1"></i>Danh sách nhóm quyền</a
              >
              <a
                class="text-white d-flex gap-2 w-100 nav-link sidebar-nav-link"
                href="<%= prefixAdmin %>/permissions"
                ><i class="bi bi-caret-right-fill me-1"></i>Phân quyền</a
              >
            </nav>
          </div>
          <!-- <a
            class="text-white d-flex gap-2 nav-link sidebar-nav-link"
            sidebar-number="6"
            href="<%= prefixAdmin %>/roles"
          >
            <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
            Nhóm quyền
          </a>
          <a
            class="text-white d-flex gap-2 nav-link sidebar-nav-link"
            sidebar-number="7"
            href="<%= prefixAdmin %>/permissions"
          >
            <div class="sb-nav-link-icon"><i class="fa-solid fa-users-gear"></i></div>
            Phân quyền
          </a> -->
          <a
            class="text-white d-flex gap-2 nav-link collapsed sidebar-nav-link"
            sidebar-number="6"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#settingCollapseLayouts"
            aria-expanded="false"
            aria-controls="settingCollapseLayouts"
          >
            <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
            Cài đặt
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div
            class="collapse"
            id="settingCollapseLayouts"
            aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion"
          >
            <nav class="sb-sidenav-menu-nested nav gap-1">
              <a
                class="text-white d-flex gap-2 w-100 nav-link sidebar-nav-link"
                href="<%= prefixAdmin %>/settings/general"
                ><i class="bi bi-caret-right-fill me-1"></i>Cài đặt chung</a
              >
              <a
                class="text-white d-flex gap-2 w-100 nav-link sidebar-nav-link"
                href="<%= prefixAdmin %>/settings/admin"
                ><i class="bi bi-caret-right-fill me-1"></i>Cài đặt quản trị</a
              >
              <a
                class="text-white d-flex gap-2 w-100 nav-link sidebar-nav-link"
                href="<%= prefixAdmin %>/settings/client"
                ><i class="bi bi-caret-right-fill me-1"></i>Cài đặt người dùng</a
              >
              <a
                class="text-white d-flex gap-2 w-100 nav-link sidebar-nav-link"
                href="<%= prefixAdmin %>/settings/advanced"
                ><i class="bi bi-caret-right-fill me-1"></i>Cài đặt nâng cao</a
              >
            </nav>
          </div>
          <!-- <a
            class="text-white d-flex gap-2 nav-link collapsed sidebar-nav-link"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#collapsePages"
            aria-expanded="false"
            aria-controls="collapsePages"
          >
            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
            Pages
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div
            class="collapse"
            id="collapsePages"
            aria-labelledby="headingTwo"
            data-bs-parent="#sidenavAccordion"
          >
            <nav
              class="sb-sidenav-menu-nested nav accordion d-flex flex-column"
              id="sidenavAccordionPages"
            >
              <a
                class="text-white d-flex gap-2 nav-link collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#pagesCollapseAuth"
                aria-expanded="false"
                aria-controls="pagesCollapseAuth"
              >
                Authentication
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <div
                class="collapse"
                id="pagesCollapseAuth"
                aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordionPages"
              >
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="login.html">Login</a>
                  <a class="nav-link" href="register.html">Register</a>
                  <a class="nav-link" href="password.html">Forgot Password</a>
                </nav>
              </div>
              <a
                class="text-white d-flex gap-2 nav-link collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#pagesCollapseError"
                aria-expanded="false"
                aria-controls="pagesCollapseError"
              >
                Error
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <div
                class="collapse"
                id="pagesCollapseError"
                aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordionPages"
              >
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="401.html">401 Page</a>
                  <a class="nav-link" href="404.html">404 Page</a>
                  <a class="nav-link" href="500.html">500 Page</a>
                </nav>
              </div>
            </nav>
          </div>
          <a class="text-white d-flex gap-2 nav-link sidebar-nav-link" href="charts.html">
            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
            Charts
          </a>
          <a class="text-white d-flex gap-2 nav-link sidebar-nav-link" href="tables.html">
            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
            Tables
          </a> -->
        </div>
      </div>
      <div class="sb-sidenav-footer p-3 mb-5 d-flex flex-column gap-2 sidebar-nav-footer">
        <a href="/" class="btn btn-light w-100 text-decoration-none text-primary" type="button"
          >Đi tới trang chủ <i class="ms-1 fa-solid fa-arrow-right"></i
        ></a>
        <ul class="d-flex justify-content-start mb-3 ps-0 btn-group sidebar-nav-contact">
          <li class="btn btn-light">
            <div class="before"></div>
            <a
              href="tel:<%= generalWebsite ? generalWebsite.phone : '#' %>"
              class="text-decoration-none text-primary"
              ><i class="fa-solid fa-phone"></i
            ></a>
          </li>
          <li class="btn btn-light">
            <a
              href="mailto:<%= generalWebsite ? generalWebsite.email : '#' %>"
              class="text-decoration-none text-primary"
              ><i class="fa-solid fa-envelope"></i
            ></a>
          </li>
          <li class="btn btn-light">
            <a
              href="<%= generalWebsite ? generalWebsite.facebook : '#' %>"
              target="_blank"
              class="text-decoration-none text-primary"
              ><i class="fa-solid fa-message"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
